.label-number-section {
  display: flex;
  justify-content: space-between;
}

.range-group,
.final-price-section {
  width: 20%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  margin: 0 auto;
  margin-bottom: 3em;
}

.final-price-section {
  text-align: center;
}

.range-value {
  width: 5em;
  border: none;
}

/* Hiding arrows for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hiding arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.range-value:focus {
  outline: none;
}

.range-section {
  display: flex;
}

.range-wrap {
  width: 70%;
  position: relative;
  margin: 0 auto 3rem;
}
.range {
  width: 100%;
}
.bubble {
  background: #151515;
  color: white;
  padding: 4px 12px;
  /* min-height: 29px; */
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
}
.bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 10px;
  background: #151515;
  top: -1px;
  left: 50%;
}

body {
  margin: 2rem;
}

.display-none {
  display: none;
}
