html {
  background-image: linear-gradient(45deg, #5682be 8%, #9455a6);
  background-color: #5682be;
  font-family: 'Roboto', sans-serif;

  width: 100%;
  height: 100%;
}

body {
  height: fit-content;
  min-height: 100vh;
  min-height: 100dvh;

  margin: 0;
  padding-block: 0;
  padding-inline: 1.5em;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 2em;

  background-image: linear-gradient(135deg, #5682be 8%, #9455a6);
}

header {
  padding-top: 2em;
}

header > h1,
header > p {
  text-align: center;

  max-width: 40ch;

  margin: 0;
  margin-inline: auto;

  color: white;
}

header > h1 {
  font-size: 40px;
  font-weight: 500;
}

header > p {
  color: #eaeaea;

  font-size: 18px;
  font-weight: 400;

  padding-top: 0.5em;
}

footer {
  color: #eaeaea;
  margin-inline: auto;

  font-size: 18px;

  padding-bottom: 2em;
}

footer a {
  color: white;
  font-weight: 500;

  text-underline-offset: 0.15em;
}

.label-number-section {
  display: flex;
  justify-content: space-between;
}

.range-group {
  width: 20%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  margin: 0 auto;
  margin-bottom: 3em;
}

.range-value {
  /* width: 5em; */
  border: none;
  color: #7f62a5;

  padding: 0;

  font-size: 1rem;
  text-align: end;
  font-weight: 500;

  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.2em;
}

/* Hiding number input arrows for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hiding number input arrows for Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  color: #7f62a5;
}

.range-group label {
  font-size: 1rem;
  color: #6c7793;
  font-weight: medium;
}

.range-value:focus {
  outline: none;
}

.range-section {
  display: flex;
  justify-content: flex-start;
}

.range-section p {
  margin: 0;
  margin-top: 0.5em;
}

.range-wrap {
  width: 100%;
  position: relative;
  margin-bottom: 1.5rem;
}
.range {
  width: 100%;
  cursor: pointer;
  margin: 0;
}

.bubble {
  --background-color: #272b35;

  position: absolute;

  top: 2em;
  transform: translateX(-50%);

  background: var(--background-color);
  color: white;

  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  transition-delay: 1s;

  padding: 7px 14px;
  border-radius: 4px;

  font-weight: 500;
}
input[type='range'].styled-slider:active ~ .bubble,
input[type='range'].styled-slider:focus ~ .bubble,
input[type='range'].styled-slider:hover ~ .bubble {
  opacity: 1;
  transition-delay: 0s;
}

/* Triangle arrow */
.bubble::after {
  --triangle-width: 0.2em;
  --triangle-height: 0.25em;

  content: '';

  position: absolute;

  width: 0;
  height: 0;

  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);

  box-sizing: border-box;

  border-left: var(--triangle-width) solid transparent;
  border-right: var(--triangle-width) solid transparent;

  border-bottom: var(--triangle-height) solid var(--background-color);
}

/*generated with Input range slider CSS style generator (version 20211225)
https://toughengineer.github.io/demo/slider-styler*/
input[type='range'].styled-slider {
  height: 2.2em;
  -webkit-appearance: none;
}

/*progress support*/
input[type='range'].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 1.6em + var(--ratio) * (100% - 1.6em));
}

input[type='range'].styled-slider:focus {
  outline: none;
}
input[type='range'].styled-slider:focus::-webkit-slider-thumb {
  border: 2px solid #5682be;
}

/*webkit*/
input[type='range'].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 0.75rem;
  height: 0.75rem;

  border-radius: 50%;
  border: none;

  background: #5682be;
  box-shadow: 0 0 0 0.25rem #fff, 0 0 1rem 0.25rem rgb(0 0 0 / 0.25);

  transition: all 0.2s ease-in-out;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

input[type='range'].styled-slider::-webkit-slider-runnable-track {
  position: relative;

  height: 0.25rem;
  border-radius: 0.125rem;
  background: #efefef;
  box-shadow: none;
}

input[type='range'].styled-slider::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 0.25rem #fff, 0 0 1rem 0.25rem rgb(0 0 0 / 0.5);
}

input[type='range'].styled-slider:hover::-webkit-slider-runnable-track {
  background: #e5e5e5;
  border-color: #9a9a9a;
}

input[type='range'].styled-slider:active::-webkit-slider-runnable-track {
  background: #f5f5f5;
  border-color: #c1c1c1;
}

input[type='range'].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #9455a6, #5682be) 0 / var(--sx) 100%
      no-repeat,
    #e0e0e0;
}

/*mozilla*/
input[type='range'].styled-slider::-moz-range-thumb {
  width: max(calc(1.6em - 6px - 6px), 0px);
  height: max(calc(1.6em - 6px - 6px), 0px);
  border-radius: 1em;
  background: #2f58cd;
  border: 6px solid #fffefe;
  box-shadow: 0 0 2px black;
}

input[type='range'].styled-slider::-moz-range-track {
  height: max(calc(0.8em - 1px - 1px), 0px);
  border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: #efefef;
  box-shadow: none;
}

input[type='range'].styled-slider::-moz-range-thumb:hover {
  background: #0061c3;
}

input[type='range'].styled-slider:hover::-moz-range-track {
  background: #e5e5e5;
  border-color: #9a9a9a;
}

input[type='range'].styled-slider:active::-moz-range-track {
  background: #f5f5f5;
  border-color: #c1c1c1;
}

input[type='range'].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient(to right, #3e2ab4, #87f0ff) 0 / var(--sx) 100%
      no-repeat,
    #efefef;
}

input[type='range'].styled-slider.slider-progress:hover::-moz-range-track {
  background: linear-gradient(to right, #3e2ab4, #87f0ff) 0 / var(--sx) 100%
      no-repeat,
    #e5e5e5;
}

input[type='range'].styled-slider.slider-progress:active::-moz-range-track {
  background: linear-gradient(to right, #3e2ab4, #87f0ff) 0 / var(--sx) 100%
      no-repeat,
    #f5f5f5;
}

/*ms*/
input[type='range'].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type='range'].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type='range'].styled-slider::-ms-thumb {
  width: 1.6em;
  height: 1.6em;
  border-radius: 1em;
  background: #2f58cd;
  border: 6px solid #fffefe;
  box-shadow: 0 0 2px black;
  margin-top: 0;
  box-sizing: border-box;
}

input[type='range'].styled-slider::-ms-track {
  height: 0.8em;
  border-radius: 0.5em;
  background: #efefef;
  border: 1px solid #b2b2b2;
  box-shadow: none;
  box-sizing: border-box;
}

input[type='range'].styled-slider::-ms-thumb:hover {
  background: #0061c3;
}

input[type='range'].styled-slider:hover::-ms-track {
  background: #e5e5e5;
  border-color: #9a9a9a;
}

input[type='range'].styled-slider:active::-ms-track {
  background: #f5f5f5;
  border-color: #c1c1c1;
}

input[type='range'].styled-slider.slider-progress::-ms-fill-lower {
  height: max(calc(0.8em - 1px - 1px), 0px);
  border-radius: 0.5em 0 0 0.5em;
  margin: -1px 0 -1px -1px;
  background: linear-gradient(to right, #3e2ab4, #87f0ff);
  border: 1px solid #b2b2b2;
  border-right-width: 0;
}

input[type='range'].styled-slider.slider-progress:hover::-ms-fill-lower {
  background: linear-gradient(to right, #3e2ab4, #87f0ff);
  border-color: #9a9a9a;
}

input[type='range'].styled-slider.slider-progress:active::-ms-fill-lower {
  background: linear-gradient(to right, #3e2ab4, #87f0ff);
  border-color: #c1c1c1;
}
